azure-servicebus
azure-eventhub-checkpointstoreblob
django
opentelemetry-sdk
opentelemetry-instrumentation-django
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-logging
azure-core-tracing-opentelemetry
azure-monitor-opentelemetry-exporter
jaeger
